<link rel="stylesheet" href="footer.component.css">
<footer class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h1 class="logo-text"><span>Controle de estoque</span></h1>
        <p>
          Olá, nosso site de controle de estoque está funcionando
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i> &nbsp; (11) 1234-5678</span>
          <span><i class="fas fa-envelope"></i> &nbsp; (email)</span>
        </div>
        <div class="socials">
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
  
      <div class="footer-section links">
        <h2>Links Rápidos</h2>
        <br>
        <ul>
  
          <a href="#">
            <li>Equipe</li>
          </a>
          <a href="#">
            <li>dúvidas</li>
          </a>
          <a href="#">
            <li>Termos e Condições</li>
          </a>
        </ul>
      </div>
  
      <div class="footer-section contact-form">
        <h2>Contato</h2>
        <br>
        <form action="index.php" method="post">
          <input type="email" name="email" class="text-input contact-input" placeholder="Seu email...">
          <textarea name="message" class="text-input contact-input" placeholder="Sua mensagem..."></textarea>
          <button type="submit" class="btn btn-big">
            <i class="fas fa-envelope"></i>
            Enviar
          </button>
        </form>
      </div>
    </div>
  
    <div class="footer-bottom">
      &copy; controleDeEstoque.com | Designed by estoque Team
    </div>
  </footer>

